* {
    margin: 0;
    box-sizing: border-box;
    background-color: floralwhite;
}

body {
    line-height: 1.6;
    padding: 20px;
}

.Homepage p {
    color: #4A3728;
    text-indent: 20px;
}

.Homepage h1 {
    color: chocolate;
}

.image img {
    width: 100%;
    border-radius: 10px;
}

.lasagna h1,
.lasagna h2,
.pizza h1,
.pizza h2,
.pizza h3,
.burger h1,
.burger h2 {
    color: chocolate;
}

.lasagna img,
.pizza img,
.burger img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
}
