* {
    margin: 0;
    box-sizing: border-box;
    background-color: floralwhite;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

.Homepage p {
    color: #4A3728;
}

.Homepage h1 {
    color: chocolate;
}
