* {
    margin: 0;
    box-sizing: border-box;
    background-color: floralwhite;
}

body {
    line-height: 1.6;
    padding: 20px;
}

.Homepage p {
    color: #4A3728;
    text-indent: 20px;
}

.Homepage h1 {
    color: chocolate;
}

.image img {
    width: 100%;
    border-radius: 10px;
}
